<nav id="navv">
	<ul class="nav nav-tabs nav-fixed" id="nav">
	  <li role="presentation"><a href="#about">About</a></li>
	  <li role="presentation"><a href="#skills">Skills</a></li>
	  <li role="presentation"><a href="#experience">Experience</a></li>
	  <li role="presentation"><a href="#education">Education</a></li>
	</ul>
	<div class="dropdown">
    	<i class="fa fa-bars" id="dropdown"></i>
		<ul class="nav" style="display: none;" id="dropdown-toggle">
		  <li role="presentation"><a href="#about">About</a></li>
		  <li role="presentation"><a href="#skills">Skills</a></li>
		  <li role="presentation"><a href="#experience">Experience</a></li>
		  <li role="presentation"><a href="#education">Education</a></li>
		</ul>
	</div>
</nav>